@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply px-4 py-2 bg-white text-black rounded-3xl active:shadow-sm border-2 border-white shadow-md hover:shadow-xl items-center font-bold;
  }
  .button--inactive {
    @apply px-4 py-2 bg-white text-gray-400 rounded-3xl border-2 border-white cursor-not-allowed font-bold;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
